{% extends 'HD_base.html' %}
{% load static %}
{% block body %}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'head_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Notifications</li>
        </ol>
      </nav>
</div>
<style>

</style>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-2"> Notifications  </h4>
        <div class="d-flex justify-content-end">
          <div class="preview-thumbnail">
            <div class="preview-icon bg-danger" id="delete_notification">
              <i class="mdi mdi-delete p-1"></i>
            </div>
          </div>

        </div>
        <div class="preview-list">
          {% if notifications_data %}
            {% for msgs in notifications_data %}
            <div class="preview-item border-bottom ">
              <div class="form-check  m-0">
                <label class="form-check-label">
                  <input type="checkbox" name="check_notific" value="{{msgs.id}}" class="form-check-input check_notific">
                </label>
              </div>
              <div class="preview-thumbnail mr-1">
                <div class="preview-icon bg-danger">
                  <i class="mdi mdi-delete p-1"></i>
                </div>
              </div>
              {% if msgs.notific_status == 0 %}
              <div class="preview-thumbnail">
                <div class="preview-icon bg-primary bg-div">
                  <i class="mdi mdi-email" ></i>
                </div>
              </div>
              {% else %}
              <div class="preview-thumbnail">
                <div class="preview-icon bg-success">
                  <i class="mdi mdi-email-open "></i>
                </div>
              </div>
              {% endif %}
              <div class="preview-item-content d-sm-flex flex-grow notification-content"  data-notification-id="{{msgs.id}}" >
                <div class="flex-grow">
                  <h6 class="preview-subject">{{msgs.notific_head}}</h6>
                  {% if msgs.notific_status == 1 %}
                  <p class="text-muted mb-0 mt-2 read-content"  id="read-content">{{msgs.notific_content}}</p>
                  
                  {% else %}
                  <p class="text-muted mb-0 view-message" id="view-message">click to read</p>
                  {% endif %}
                  
                </div>
                <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                  <p class="text-muted">Send Time: {{ msgs.notific_time|time:"h:i:A" }}</p>
                  <p class="text-muted mb-0">Date: {{msgs.notific_date}} </p>
                </div>
              </div>
            </div>
            {% endfor %}    
          {% else %}
            <div class="d-flex justify-content-center">
              <img src="{% static 'images\file-icons\no-data-file.png' %}">
            </div>
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

  function getCSRFCookie() {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Check if the cookie name starts with csrftoken
            if (cookie.substring(0, 'csrftoken'.length + 1) === ('csrftoken' + '=')) {
                cookieValue = decodeURIComponent(cookie.substring('csrftoken'.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

  $(document).ready(function() {
      $(".notification-content").click(function() {
        
          var notificationId = $(this).data('notification-id');
          var csrf_token = getCSRFCookie();
          
        
          $.ajax({
            url: "{% url 'head_notificationUpdate' %}",
              type: 'POST',
              headers: { "X-CSRFToken": csrf_token },
              data: { notification_id: notificationId },
              success: function(data) {
                if (data.status === 'success') {
                    // Status updated successfully, redirect to another view
                    window.location.href = "{% url 'head_allnotification' %}";
                } else {
                    console.error('Error:', data.message);
                }
             },
              error: function(xhr, status, error) {
                  console.error('AJAX error:', status, error);
              }
          });
      });
  });

  $(document).ready(function() {
    $("#delete_notification").click(function() {
        var selectedIds = [];
        var csrf_token = getCSRFCookie();
        // Iterate over all checkboxes and gather selected IDs
        $('.check_notific:checked').each(function() {
            selectedIds.push($(this).val());
        });

        if (selectedIds.length > 0) {
            // Send an AJAX request to the Django view
            $.ajax({
                url: "{% url 'head_delete_notifications' %}", 
                type: 'POST',
                headers: { "X-CSRFToken": csrf_token },
                data: { selected_ids: selectedIds },
                success: function(data) {
                    // Handle the response, if needed
                    console.log('Notification deletion successful');
                    window.location.href = "{% url 'head_allnotification' %}";
                },
                error: function(xhr, status, error) {
                    console.error('AJAX error:', status, error);
                }
            });
        } else {
            alert('Please select notifications to delete.');
        }
    });
});
</script>



{% endblock %}