{% extends 'HD_base.html' %}
{% load static %}
{% block body %}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'head_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Employee allocated list</li>
        </ol>
      </nav>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 grid-margin">
        <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <h4 class="card-title">Allocated Employees List</h4>
                
            </div>

            <div class="add-items d-flex ">
                
                <input  class="form-control text-offwhite" name="#" id="search-data" placeholder="search here..">
                <button class="btn btn-outline-danger mdi mdi-close" id="closeBtn" type="button"></button> 
            </div>

            <form action="#}" method="post" >
        
            {% csrf_token %}

            
            
            <div class="table-responsive">
                <table class="table" id="employee-allocated">
                <thead>
                    <tr>
                    <th> No </th>
                    
                    <th> Team Lead  </th>
                    <th> Employees Name </th>
                    <th> Reallocate </th>
                    </tr>
                </thead>
                <tbody>
                    {% for emp in allocated_employees %}
                    <tr>
                        <td>
                            {{forloop.counter}}
                        </td>
                        
                        <td>
                            {% if emp.allocat_to.emp_profile %}
                            <img src="{{emp.allocat_to.emp_profile.url}}" alt="Profile-image" />
                            {% else %}
                            <img src="{% static 'images/faces/profile-icon.png' %}" alt="Profile-image" />
                            {% endif %}
                            <span class="pl-2">{{emp.allocat_to.emp_name}}</span>
                        </td> 
                        <td>
                            {% if emp.allocatEmp_id.emp_profile %}
                            <img src="{{emp.allocatEmp_id.emp_profile.url}}" alt="Profile-image" />
                            {% else %}
                            <img src="{% static 'images/faces/profile-icon.png' %}" alt="Profile-image" />
                            {% endif %}
                            <span class="pl-2">{{emp.allocatEmp_id.emp_name}}</span>
                        </td>
                        <td>
                            <div class="add-items d-flex ">
                    
                                <select class=" form-control text-offwhite" name="alocated_to" id="#" required>
                                    <option value="" selected>--- select team lead --- </option>
                                {% for team in Team_leads %}
                                <option value="{{team.id}}"> 
                                    {{team.emp_name}}
                                    </option>
                                {% endfor %}
                                </select>                        
                            
                            <button class=" btn btn-outline-primary " type="submit">Re-allocate</button> 
                            </div>
                        </td>
                    
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            </form>
        </div>
        </div>
    </div>
</div>

<script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const empTable = document.getElementById('employee-allocated');
    closeBtn.style.display = 'none';
    console.log(inputField)

    inputField.addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        console.log('trigerd')
        const rows = empTable.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
           
            const Cell1 = rows[i].getElementsByTagName('td')[1];
            const Cell2 = rows[i].getElementsByTagName('td')[2];
            
            
          

            if ( Cell2 || Cell1 ) {

                const datacell2 = Cell2.textContent || Cell2.innerText;
                const datacell1 = Cell1.textContent || Cell1.innerText;
               
               
               

                if (datacell1.toLowerCase().includes(filterValue)|| datacell2.toLowerCase().includes(filterValue) ) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }

     // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });

    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>

{% endblock %}