{% extends 'HD_base.html' %}
{% load static %}
{% block body %}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'head_dashboard' %}" >Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Feedback</li>
        </ol>
      </nav>
</div>

<!--  Mail section -->

<div class="row">

  <div class="col-md-12 col-xl-4 grid-margin stretch-card">
      <div class="row">
          
          <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
            <div class="card" id="feedback-view-btn">
              <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <div class="d-flex align-items-center align-self-start">
                      <h4 class="mb-0">Feedback View </h4>
                      <!-- <p class="text-success ml-2 mb-0 font-weight-medium"> ( 100 )</p> -->
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="icon icon-box-success">
                      <span class="mdi mdi-arrow-top-right icon-item"></span>
                    </div>
                  </div>
                </div>
                <h6 class="text-muted font-weight-normal">To view all employees feedbacks</h6>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
            <div class="card" id="feedback-add-btn">
              <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <div class="d-flex align-items-center align-self-start">
                      <h4 class="mb-0">Add Feedback </h4>
                      <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="icon icon-box-success ">
                      <span class="mdi mdi-arrow-top-right icon-item"></span>
                    </div>
                  </div>
                </div>
                <h6 class="text-muted font-weight-normal">To add feedbacks to employees</h6>
              </div>
            </div>
          </div>
         
          
        </div>
  </div>
  <div class="col-md-12 col-xl-8 grid-margin stretch-card">

    <div class="card" id="feedback-view" >
      <div class="card-body">
        <div class="leave-form">
          
          <form action="#" method="post">
            <div class="d-flex justify-content-between">
              <h4 class="card-title mb-4">Feedback View </h4>
              <div class="form-group">
                <select class="form-control text-offwhite" name="#" id="feedback-change" required>
      
                  <option value="1" selected>Feedback Given</option>
                  <option value="0">Feedback Recived</option>
                  
                </select>                      
              </div>
            </div>
            
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-12 col-lg-12 col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        
                        <th> Date </th>
                        <th> Feedback By  </th>
                        <th> Feedback To </th>
                        <th> Feedback </th>
                      </tr>
                    </thead>
                    <tbody id="feedback-body">
                      {% for feedbacks in feedback_data %}
                      <tr>
                        <td> {{feedbacks.feedback_date}} </td>
                        <td>
                          {% for e in employees %}
                          {% if e.id == feedbacks.from_id %}
                           
                            <span class="pl-2">{{e.emp_name}}</span>
                            
                          {% endif %}
                          {% endfor %}
                        </td>
                        <td>
                          
                          <span class="pl-2">{{feedbacks.feedback_emp_id.emp_name}}</span>
                        </td>
                        
                        <td> {{feedbacks.feedback_content }}</td>
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="card" id="feedback-add" >
      <div class="card-body">
        <div class="leave-form">
          <h4 class="card-title mb-4"> Feedback Add  </h4>
          <form action="#" method="post" >

            {% csrf_token %}


            <div class="add-items d-flex ">
              
                <select class="form-control text-offwhite" name="to_id" id="#" required>
                  {% for emp in employees %}
                  <option value="{{emp.id}}">{{emp.emp_name}}</option>
                  {% endfor %}
                </select>                        
              
              <button class=" btn btn-outline-primary " type="submit">Add</button> 
            </div>
            <div class="form-group add-items">
                <textarea  class="to-do-textarea  text-offwhite" name="feedback_content" id="#" placeholder="enter feedback.."></textarea>
            </div>
        
          </form>
        </div>
      </div>
  </div>

     
  </div>

</div>



<!-- Script to change different form -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
    $(document).ready(function() {
      $('#feedback-add').hide();

      $('#feedback-view-btn').click(function() {
        $('#feedback-view').show();
        $('#feedback-add').hide();
      });
  
      $('#feedback-add-btn').click(function() {
        $('#feedback-view').hide();
        $('#feedback-add').show();
      });
    });
  </script>


  <!-- Script to display feedback based on selection box-->

  <script>
    $(document).ready(function() {
        $('#feedback-change').change(function() {
            var selectedValue = $(this).val();
            updateFeedbackData(selectedValue);
        });
    });

    function updateFeedbackData(selectedValue) {
        $.ajax({
            url: "{% url 'feedback_Typechange' %}",
            type: 'GET',
            data: {
                value: selectedValue
            },
            success: function(data) {
                // Clear existing data in tbody
                $('#feedback-body').empty();

                 // Populate the tbody with new data
                 for (var i = 0; i < data.length; i++) {
                 

                  var row = '<tr>' +
                            '<td>' + data[i].feedback_date + '</td>' +
                            '<td>' + '<span class="pl-2">' + data[i].from_name + '</span></td>' +
                            
                            '<td>' +'<span class="pl-2">' + data[i].to_name + '</span></td>' +
                            '<td>' + data[i].feedback_content + '</td>' +
                            '</tr>';
                  $('#feedback-body').append(row);
              }
            },
            error: function(xhr, textStatus, errorThrown) {
                console.error('Error:', errorThrown);
            }
        });
    }
</script>


{% endblock %}