{% extends 'HD_base.html' %}
{% load static %}
{% block body %}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'head_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Work Progress </li>
        </ol>
      </nav>
</div>

<div class="row">
  {% for work in works %}
  <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
    <a href="{% url 'head_clientWorkDetails' work.clientId.id %}" class="a-hover">
        <div class="card">
            <div class="card-body">
            <div class="row">
                <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                    <h4 class="mb-0">{{ work.clientId.client_name }}</h4>
                    <!-- <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p> -->
                </div>
                </div>
                <div class="col-3">
                {% if work.work_allocate_status == 1 %}
                  <div class="icon icon-box-success">
                      <span class="mdi mdi-calendar-check  icon-item"></span>
                  </div>
                  {% else %}
                  <div class="icon icon-box-danger">
                    <span class="mdi mdi-calendar-remove  icon-item"></span>
                  </div>
                  {% endif %}
                </div>
            </div>
            <h6 class="text-muted font-weight-normal mt-2"> By actively monitoring the progress of ongoing tasks and  reviewing all  task details, </h6>
            </div>
        </div>
    </a>
  </div>
  {% endfor %}
</div>



{% endblock %}