{% extends 'TL_base.html' %}
{% load static %}
{% block body %}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'tl_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Employees List</li>
        </ol>
      </nav>
</div>


<div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <h4 class="card-title">Employees</h4>
                
            </div>

            <div class="add-items d-flex ">
              
              <input  class="form-control text-offwhite" name="#" id="search-data" placeholder="search here..">
              <button class="btn btn-outline-danger mdi mdi-close" id="closeBtn" type="button"></button> 
          </div>
            
    
          <div class="table-responsive">
            <table class="table" id="employee-details">
              <thead>
                <tr>
                  <th> No </th>
                  <th> Employees Id </th>
                  <th> Employees Name </th>
                  <th> Email </th>
                  <th> Phone </th>
                  <th> Register Date </th>
                  <th> Department </th>
                  <th> Designation </th>
                  <th> Active Status </th>
                  <th> Account status </th>
                 
                 
                </tr>
              </thead>
              <tbody>
                {% for emp in employees %}
                <tr>
                  <td>
                    {{forloop.counter}}
                  </td>
                  <td>
                    {% if emp.emp_regId %}
                    {{emp.emp_regId }}
                    {% else %} 
                    EMP0000 
                    {% endif %}
                  </td> 
                  <td>
                    {% if emp.emp_profile %}
                    <img src="{{emp.emp_profile.url}}" alt="Profile-image" />
                    {% else %}
                    <img src="{% static 'images/faces/profile-icon.png' %}" alt="Profile-image" />
                    {% endif %}
                    <span class="pl-2">{{emp.emp_name}}</span>
                  </td>
                  <td> {{emp.emp_email}} </td>
                  <td> {{emp.emp_contact_no}} </td>
                  <td> {{emp.emp_reg_date}} </td>
                  <td> {{emp.emp_department_id.dept_name}} </td>
                  <td> {{emp.emp_designation_id.desig_name}} </td>
                  <td>
                     {% if emp.emp_active_status == 1 %}
                      <span class="mdi mdi-check-circle-outline text-success mdi-18px"></span>
                    {% else %}
                    <span class="mdi mdi-close-circle-outline text-danger  mdi-18px"></span>
                    {% endif %}
                  </td>
                  <td>
                    {% if emp.emp_verify_status == 1 %}
                     <span class="mdi mdi-account-check text-success  mdi-18px"></span>
                   {% else %}
                   <span class="mdi mdi-account-remove text-danger  mdi-18px"></span>
                   {% endif %}
                 </td>
                
                 
                </tr>
               {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>



  <script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const empTable = document.getElementById('employee-details');
    closeBtn.style.display = 'none';

    inputField.addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = empTable.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const Cell1 = rows[i].getElementsByTagName('td')[1];
            const Cell2 = rows[i].getElementsByTagName('td')[2];
            const Cell3 = rows[i].getElementsByTagName('td')[3];
            const Cell4 = rows[i].getElementsByTagName('td')[4];
            const Cell5 = rows[i].getElementsByTagName('td')[5];
            const Cell6 = rows[i].getElementsByTagName('td')[6];
            const Cell7 = rows[i].getElementsByTagName('td')[7];
            const Cell8 = rows[i].getElementsByTagName('td')[8];

            if (Cell1 || Cell2 || Cell3 || Cell4|| Cell5 || Cell6 || Cell7 || Cell8) {

                const datacell1 = Cell1.textContent || Cell1.innerText;
                const datacell2 = Cell2.textContent || Cell2.innerText;
                const datacell3 = Cell3.textContent || Cell3.innerText;
                const datacell4 = Cell4.textContent || Cell4.innerText;
                const datacell5 = Cell5.textContent || Cell5.innerText;
                const datacell6 = Cell6.textContent || Cell6.innerText;
                const datacell7 = Cell7.textContent || Cell7.innerText;
                const datacell8 = Cell7.textContent || Cell8.innerText;
                

                if (datacell1.toLowerCase().includes(filterValue) || datacell2.toLowerCase().includes(filterValue) || datacell3.toLowerCase().includes(filterValue)
                || datacell4.toLowerCase().includes(filterValue) || datacell5.toLowerCase().includes(filterValue) || datacell6.toLowerCase().includes(filterValue) 
                || datacell7.toLowerCase().includes(filterValue) || datacell8.toLowerCase().includes(filterValue) ) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }

     // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });

    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>



{% endblock %}