{% extends 'TL_base.html' %}
{% load static %}
{% block body %}

<div class="row">
    <div class="col-sm-5 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">User Id/ Password Change</h4>
            <form action="{% url 'tl_user_passwordUpdate' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-sm-12 col-lg-12 col-md-12">
                    <div class="form-group">
                        <label class="form-check-label">User Name * </label>
                
                      <input type="email" class="form-control text-offwhite" name="emp_uname" value="{{emp_dash.log_username}}" required>
                      
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-primary">
                            <label class="form-check-label">Password *
                              <input class="checkbox" type="checkbox" id="show-password"> 
                            </label>
                        </div>
                        <input type="password" class="form-control text-offwhite" id="password" 
                        name="emp_password" value="{{emp_dash.log_password}}"  
                        pattern="^(?=.*[@#$])(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$" required>
                        
                    </div>
                    <p class="small" id="password-strength"></p>
                  </div>
                  
                </div>
                
               
                <div class="text-center mt-3">
                  <button type="submit" class="btn btn-primary btn-block enter-btn">Update</button>
                </div>
                
                
              </form>
          </div>
        </div>
    </div>
    <div class="col-sm-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body  ">
            <div>
                <h6>Change Password</h6>
                <p>In order to protect your account, make sure your password:</p>
            </div>
           
            <ul class="small mb-2">
                <li class="mb-2" >Use a mix of uppercase and lowercase letters.</li>
                <li class="mb-2">Include numbers and special characters (e.g., !, @, #, $).</li>
                <li class="mb-2">Avoid using common words, names, or easily guessable information.</li>
                <li class="mb-2">Make your password at least 8 characters long.</li>
                <li class="mb-2">Do not use sequential or repetitive characters (e.g., "123456" or "aaaaaa").</li>
                <li class="mb-2">Avoid using easily obtainable information, such as your birthday or phone number.</li>
            </ul>
           
        </div>
      </div>
    </div>
   
</div>


<!--Password show and hide-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#show-password').change(function() {
            var passwordField = $('#password');
            var passwordFieldType = passwordField.attr('type');
            
            // Toggle the password field's type
            passwordField.attr('type', passwordFieldType === 'password' ? 'text' : 'password');
        });
    });
</script>


<!-- Password Check-->
<script>
    $(document).ready(function() {
        $('#password').on('input', function() {
            var password = $(this).val();

            // Regular expressions to check for specific characters
            var hasSpecialChar = /[!@#$%^&*]/.test(password);
            var hasUpperCase = /[A-Z]/.test(password);
            var hasLowerCase = /[a-z]/.test(password);
            var hasNumber = /[0-9]/.test(password);

            var strength = 0;

            if (hasSpecialChar) strength++;
            if (hasUpperCase) strength++;
            if (hasLowerCase) strength++;
            if (hasNumber) strength++;

            // Update the password strength indicator
            var passwordStrengthElement = $('#password-strength');
            switch (strength) {
                case 1:
                    passwordStrengthElement.text('Password Strength: Weak');
                    $('#password').removeClass().addClass('form-control text-offwhite weak-password');
                    $('#password-strength').removeClass().addClass('weak-password-text');
                    break;
                case 2:
                    passwordStrengthElement.text('Password Strength: Moderate');
                    $('#password').removeClass().addClass('form-control text-offwhite moderate-password');
                    $('#password-strength').removeClass().addClass('moderate-password-text');
                    break;
                case 3:
                    passwordStrengthElement.text('Password Strength: Strong');
                    $('#password').removeClass().addClass('form-control text-offwhite strong-password');
                    $('#password-strength').removeClass().addClass('strong-password-text');
                    break;
                case 4:
                    passwordStrengthElement.text('Password Strength: Very Strong');
                    $('#password').removeClass().addClass('form-control text-offwhite very-strong-password');
                    $('#password-strength').removeClass().addClass('very-strong-password-text');
                    break;
                default:
                    passwordStrengthElement.text('');
                    $('#password').removeClass().addClass('form-control text-offwhite');
                    $('#password-strength').removeClass();
                    
            }
        });
    });
</script>


{% endblock %}