{% extends 'hr_base.html' %}
{% load static %}
{% block body %}


<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">New Data</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th> Full Name </th>
                                <th> Email id </th>
                                <th> Phone Number </th>
                                <th> Qualification </th>
                                <th>Year of Passout</th>
                                <th>College</th>
                                <th>Location</th>
                                <th> fresher or experienced </th>
                                <th> Previous Designation</th>
                                <th>Previous Company</th>
                                <th>Reason for Registration</th>
                                <th></th>


                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.name}}</td>
                                <td> {{i.email}} </td>
                                <td> {{i.Mobile_no}} </td>
                                <td>{{i.qualification}}</td>
                                <td>{{i.passout_year}}</td>
                                <td>{{i.college_name}}</td>
                                <td>{{i.location}}</td>
                                <td>{{i.expereince}}</td>
                                <td>{{i.previous_designation}}</td>
                                <td>{{i.previous_company}}</td>
                                <td>{{i.reason_for_registration}}</td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#mymodal1{{i.id}}">
                                        <div class="badge badge-outline-success">Mark Response</div>
                                    </a>
                                    <div class="modal" id="mymodal1{{i.id}}">
                                        <div class="modal-dialog" >
                                            <div class="modal-content" style="background-color: #434a54;">
                                                <div class="modal-header">
                                                    <h4>{{i.name}}</h4>
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'add_response' i.id %}" style="display: grid;" method="post">
                                                        {% csrf_token %}
                                                        <textarea name="response" cols="30" rows="5" style="width: 100%;background-color: #2A3038;color: rgba(215, 213, 213, 0.805);" required ></textarea><br><br>
                                                        <button type="submit" class="btn btn-outline-success">Add Response</button>
                                                    </form>
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <a href="#" data-toggle="modal" data-target="#mymodal2{{i.id}}">
                                        <div class="badge badge-outline-warning">Add to Waitlist</div>
                                    </a>
                                    <div class="modal" id="mymodal2{{i.id}}">
                                        <div class="modal-dialog" >
                                            <div class="modal-content" style="background-color: #434a54;">
                                                <div class="modal-header">
                                                    <h4>{{i.name}}</h4>
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'add_to_waitingList' i.id %}" style="display: grid;" method="post">
                                                        {% csrf_token %}
                                                        <textarea name="wait_reason" cols="30" rows="5" style="width: 100%;background-color: #2A3038;color: rgba(215, 213, 213, 0.805);" required ></textarea><br><br>
                                                        <button type="submit" class="btn btn-outline-warning">Add to Waitlist</button>
                                                    </form>
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <a href="#" data-toggle="modal" data-target="#mymodal3{{i.id}}">
                                        <div class="badge badge-outline-danger">Add to WasteData</div>
                                    </a>
                                    <div class="modal" id="mymodal3{{i.id}}">
                                        <div class="modal-dialog" >
                                            <div class="modal-content" style="background-color: #434a54;">
                                                <div class="modal-header">
                                                    <h4>{{i.name}}</h4>
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'add_to_wastedata' i.id %}" style="display: grid;" method="post">
                                                        {% csrf_token %}
                                                        <textarea name="waste_reason" cols="30" rows="5" style="width: 100%;background-color: #2A3038;color: rgba(215, 213, 213, 0.805);" required ></textarea><br><br>
                                                        <button type="submit" class="btn btn-outline-danger">Add to WasteData</button>
                                                    </form>
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}