{% extends 'Executive_base.html' %}
{% load static %}
{% block body %}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'executive_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Action Taken</li>
        </ol>
      </nav>
</div>

<div class="row">

  <div class="col-md-12 col-xl-4 grid-margin">
    <div class="row">
        
        
      <div class="col-xl-12 col-sm-12 grid-margin">
        <div class="card" id="action-taken-btn">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <h4 class="mb-0">Actions Taken</h4>
                  <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-success ">
                  <span class="mdi mdi-arrow-top-right icon-item"></span>
                </div>
              </div>
            </div>
            <h6 class="text-muted font-weight-normal">Potential growth</h6>
          </div>
        </div>
      </div>
        
        
    </div>
  </div>
  
  <div class="col-md-12 col-xl-8 grid-margin stretch-card">


    <div class="card" id="action-taken" >
      <div class="card-body">
        <h4 class="card-title mb-4">View Actions </h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>  Date </th>
                <th> Reason for action  </th>
              </tr>
            </thead>
            <tbody>
              {% for i in actions %}
              <tr>
                <td>{{i.action_date}}</td>
                <td class="#">
                  <div class="preview-list">
                    <div class="preview-item border-bottom">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-danger">
                          <i class="mdi mdi-file-document"></i>
                        </div>
                      </div>
                      <div class="preview-item-content d-sm-flex flex-grow">
                        <div class="flex-grow">
                          <h6 class="preview-subject">{{i.act_head}}</h6>
                          <p class="text-muted mb-0">{{i.act_reason}}</p>
                        </div>
                        
                      </div>
                    </div>
                    
                  </div>
                  <div> 
                    <p class="mt-2">Action Taken by <strong>{{i.act_from_name}}</strong><small><i> on (<span>{{i.action_date}}</span>)</i></small> </p>
                    <p class="mt-2">{{i.act_content}} </p>

                  </div>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>

     
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<!-- <script>
    $(document).ready(function() {
        $('#action-taken').hide();

        $('#take-action-btn').click(function() {
        $('#take-action').show();
        $('#action-taken').hide();
        });

        $('#action-taken-btn').click(function() {
        $('#take-action').hide();
        $('#action-taken').show();
        });
    });
</script> -->

{% endblock %}